.navbar {
  position: fixed;
  width: 100%;
  margin-bottom: 4.5rem;
  top: 0;
  display: flex;
  background-color: darkblue;
  box-sizing: border-box;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 0 1rem 0 1rem;
  font-family: sans-serif;
  z-index: 1;
}
.navbar a {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: sans-serif;
  margin-left: 1rem;
  text-align: center;
  transition: all 0.3s ease-in;
  color: #72ff72;
}
.navbar a:hover {
  color: red;
  transform: scale(1.2);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  min-width: 100%;
  min-height: 100%;
}

.mededelingen-list-container {
  transition: opacity 600ms ease-in;
}

.mededelingen-list {
  margin: 5.5rem 0.25rem 1rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0;
  color: #fff;
}
.mededelingen-list li {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: left;
  justify-content: left;
  margin: 1rem 0.2rem 1rem 0.2rem;
  padding: 1rem 1rem 1rem 1rem;
  list-style-type: none;
  border: darkblue 1px solid;
}
.mededelingen-list li .link {
  background-color: black;
  text-decoration: none;
  color: #72ff72;
  transition: color 400ms ease-in;
}
.mededelingen-list li .link:hover {
  color: red;
}
.mededelingen-list li .btn.btn-mededeling {
  background-color: darkblue;
  margin: 10px auto;
  color: #fff;
  width: fit-content;
  padding: 5px;
  flex: 0;
  text-align: center;
  border: #fff 2px solid;
  text-decoration: none;
}
.mededelingen-list li .btn.btn-mededeling:hover {
  background-color: red;
  transition: color 10ms;
  transition: transform 300ms;
  transform: scale(1.3);
}

.modalDialog {
  background-color: #005f8b;
  border: 1px solid white;
  color: #fff;
  box-shadow: grey 2px 2px;
  width: 80%;
  height: 40%;
  min-height: 275px;
  position: fixed;
  display: none;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
  transition: opacity 500ms ease-in;
  pointer-events: auto;
}
.modalDialog .modal-body {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.modalDialog .modal-title {
  text-align: center;
}
.modalDialog .edit-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modalDialog .mededeling-edit {
  width: 100%;
  height: 125px;
}
.modalDialog .button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.mededeling-container {
  display: flex;
}

#addModal {
  height: fit-content;
  padding: 20px;
}
#add-mededeling-filiaalnummer {
  width: 25%;
  height: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#add-mededeling-med {
  width: 80%;
  margin-left: 26px;
}

#openModal {
  height: fit-content;
}

.mededeling-text {
  width: fit-content;
}

.btn:hover {
  background-color: red;
  transition: color 10ms;
  transition: transform 300ms;
  transform: scale(1.3);
}


@media screen and (orientation: portrait) {
  body {
    font-size: 11pt;
  }

  .navbar {
    font-size: 1.2rem;
  }
  .navbar a {
    font-size: 1.2rem;
  }
}
@media screen and (orientation: portrait) {
  #addModal {
    height: fit-content;
    width: 80%;
  }
  #addModal .modal-body {
    width: 100%;
  }
  .modalDialog {
    width: 90%;
    height: 300px;
    font-size: 10pt;
  }
  .modalDialog .mededeling-edit {
    width: 100%;
    height: 150px;
  }
  .modalDialog #add-mededeling-med {
    width: 80%;
    height: 100px;
    margin-left: 23px;
  }
  .mededeling-text {
    width: fit-content;
  }
}

/*# sourceMappingURL=mededelingen_style.css.map */
