
body, html{
    background : black;
	height : 100%;
	width : 100%;
}

body {
	display : flex;
	flex-direction : column;
}

.main-ui {
	width: 100%;
	height : 50%;
	display: flex;
	flex-direction: column;
}

.doc-title {
    text-align: center;
    color: red;
    font-size:16pt;
}

.input-element {
    display : flex;
    flex-direction : column;
    align-items : center;
    font-size: 16pt;
    color: blue;
}

.button-row {
	display : flex;
	margin-top : 40px;
	justify-content : space-between;
	
}

.zoek-button,.opschoon-button {
	font-size: 16px;
	background : blue;
	margin: 10px;
	border-radius: 20px;
	color:white;
}

.queryText {
	font-size: 10pt;
	font-style: underline;
	font-style: bold;
	color: white;
}
