html {
	font-size: 16px;
	max-width: 100%;
	display: block;
}

body {
	display : flex;
	background: black;
	max-width: 100%;
	flex-direction : column;
}

.main-ui {
	max-width: 100%;
	height : 25%;
	display: flex;
	flex-direction: column;
}

.doc-title {
    text-align: center;
	width: 100%;
    color: red;
    font-size:150%;
	flex: 1;
}

.input-element {
    display : flex;
    flex-direction : column;
    align-items : center;
	width: 100%;
    font-size: 100%;
    color: blue;
	flex: 1;
}

#fn {
	min-width : 10%;
	max-width : 14%;
	font-size: 100%;
}

form {
	width: 100%;
}

.button-row {
	display : flex;
	margin-top : 40px;
	margin-bottom : 30px;
	width: 100%;
	justify-content : center;
	flex: 1;
	
}

.zoek-button,.opschoon-button {
	font-size: 100%;
	background : blue;
	margin: 10px;
	border-radius: 20px;
	color:white;
	width: auto;
	flex : 0 1 auto;
}


.zoek-button:hover,.opschoon-button:hover {
	color:red;
	transform: scale(1.2);
}

.mededeling-ref{
	margin-bottom: 40px;
}


.queryText {
	font-size: 100%;
	font-style: underline;
	font-style: bold;
	margin-left : 2%;
	width: 100%;
	color: white;
	border: 1px solid blue;
	padding : 15px;
	margin-bottom : 20px;
}
